<ion-row class="flex-center">
  <h2>Introduce tu combinación</h2>
</ion-row>
<div class="animal-card-container" *ngIf="pictograms">
  <ion-card [attr.aria-label]="pictogram.name" class="animal-card" *ngFor="let pictogram of pictograms" (click)="addAnimal(pictogram)">
    <ion-img [src]="imgUrl(pictogram.image)"></ion-img>
  </ion-card>
</div>
<ion-row style="margin-top: 20px;">
  <ion-col size=9 class="selected-animals-container">
    <ion-card *ngFor="let pictogram of selectedPictograms" class="selected-animal-card">
      <ion-img [src]="imgUrl(pictogram.image)"></ion-img>
    </ion-card>
  </ion-col>
  <ion-col aria-label="Borrar" (click)="clear()">
    <ion-img src="../../../../assets/img/borrar.png"></ion-img>
  </ion-col>
</ion-row>