<ion-content>

  <app-page-layout>

    <div layout-position="main">
      <ion-row class="title-row">
        <ion-col>
          <ion-title>
            {{group.name}}
          </ion-title>
        </ion-col>
      </ion-row>
    </div>
  
    <div layout-position="content">
      <app-chat [messages]="messages"></app-chat>
    </div>
  
    <div layout-position="footer">
      <ion-row>
        <ion-col style="padding: 0 !important;">
          <app-chat-menu (sendMessageEmitter)="sendMessage($event)" (sendFileEmitter)="uploadFile($event)"></app-chat-menu>
        </ion-col>
      </ion-row>
    </div>
  
  </app-page-layout>
</ion-content>