<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mis grupos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mis grupos</ion-title>
    </ion-toolbar>
  </ion-header>


  <div *ngFor="let group of myGroups; let i = index;" (click)="navigateToGroup(group.id)">
    <ion-item [color]="i % 2 ? 'dark' : 'light'">
      <ion-avatar slot="start">
        <ion-icon name="people-circle-outline" [color]="i % 2 ? 'light' : 'dark'" size="large"></ion-icon>
      </ion-avatar>
      <ion-label [color]="i % 2 ? 'light' : 'dark'">
        <h1>{{ group.name }}</h1>
      </ion-label>
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-item>
  </div>
</ion-content>
