<ion-content *ngIf="task">

  <app-page-layout>

    <div layout-position="main">
      <ion-row class="title-row">
        <ion-col>
          <ion-title>
            {{task.title}}
          </ion-title>
        </ion-col>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-card [attr.aria-label]="task.fullDescription" class="card-info-task">
        <ion-card-content>
          <ion-img *ngIf="task.mediaDescription" [src]="taskImage()"></ion-img>
          <div class="task-full-description">
          <h4 class="task-full-description-title" >Descripción:</h4><br>
          <p class="task-full-description-content" [innerHTML]="task.fullDescription"></p>
          <ion-img *ngIf="task.status.finished" class="img-tasks-not-found info-task-resolve" src="/assets/img/medalla.png"></ion-img>
        </div>
        </ion-card-content>

        <ion-grid class="margin-top-10">
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-text-center">
              <div *ngIf="!task.status.finished">
                <ion-button color="secondary"><span class="btn-secondary-dark-contrast"
                    (click)="navigateToTaskChat(task.id_tarea)">Resolver tarea</span></ion-button>
              </div>
              <div *ngIf="task.status.finished">
                <ion-row *ngIf="task.status.finishedComment">
                  <ion-col>
                    <div [attr.aria-label]="task.status.finishedComment" class="task-rating-container-yellow">
                      <h4 class="task-rating-title-init">Comentario del tutor: </h4>
                      <p style="text-align: left; padding-left: 10px;">{{task.status.finishedComment}}</p>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <div class="task-rating-container-pink">
                      <h4 class="task-rating-title-init">Valoración de la tarea: </h4>
                      <p *ngIf="task.rating.text" style="text-align: left; padding-left: 10px;">{{task.rating.text}}</p>
                      <ion-row *ngIf="!task.rating.text">
                        <ion-col size=10>
                          <ion-input class="message-input" [(ngModel)]="userValoration" placeholder="Escribe tu valoración..."></ion-input>
                        </ion-col>
                        <ion-col size=2 (click)="updateRateValues({variant: 'text'})">
                          <ion-icon name="caret-forward-outline" size=large style="padding-top: 8px;"></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col >
                    <div class="task-rating-container-blue">
                      <h4 class="task-rating-title">Dificultad</h4>
                      <p class="task-rating-subtitle">Selecciona cuántas estrellas de Dificultad crees que tiene la tarea.</p>
                      <app-star-rating [starCount]="task.rating.difficulty" [variant]="'difficulty'" (rateEmitter)="updateRateValues($event)"></app-star-rating>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col >
                    <div class="task-rating-container-green">
                      <h4 class="task-rating-title" >Utilidad</h4>
                      <p class="task-rating-subtitle">Selecciona cuántas estrellas de Utilidad crees que tiene la tarea.</p>
                      <app-star-rating [starCount]="task.rating.utility" [variant]="'utility'" (rateEmitter)="updateRateValues($event)"></app-star-rating>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col >
                    <div class="task-rating-container-pink" (click)="navigateToTaskChat(task.id_tarea)">
                      <h4 class="task-rating-title" >Ver Chat de la tarea</h4>
                     </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </app-page-layout>
</ion-content>