<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-groups">
      <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
      <ion-label>Mis grupos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-tasks">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label>Mis Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-profile">
      <ion-icon name="person" size="large"></ion-icon>
      <ion-label>Mi Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
