
<ion-tabs *ngIf="genre">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-groups" class="btn-grupos">
      <ion-img src="../assets/img/amigos.png" class="img-nav-bar"></ion-img> 
    </ion-tab-button>

    <ion-tab-button tab="my-tasks" class="btn-tareas">
      <ion-img src="../assets/img/tareas.png" class="img-nav-bar"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="my-profile" class="btn-perfil">
      <ion-img *ngIf="genre=='male'" src="../assets/img/yo-m.png" class="img-nav-bar"></ion-img>
      <ion-img *ngIf="genre=='female'" src="../assets/img/yo-f.png" class="img-nav-bar"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
