<ion-content *ngIf="task">

  <app-page-layout>

    <div layout-position="main">
      <ion-row class="title-row">
        <ion-col size="2" (click)="navigateBack()">
          <ion-icon class="back-arrow" name="caret-back-circle-outline"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title>
            {{task.title}}
          </ion-title>
        </ion-col>
        <ion-col size="2" >
        </ion-col>
      </ion-row>
    </div>
  
    <div layout-position="content">
      <app-chat [messages]="chatMessages"></app-chat>
    </div>
  
    <div layout-position="footer">
      <ion-row>
        <ion-col style="padding: 0 !important;">
          <app-chat-menu (sendMessageEmitter)="sendMessage($event)" (sendFileEmitter)="uploadFile($event)"></app-chat-menu>
        </ion-col>
      </ion-row>
    </div>
  
  </app-page-layout>
</ion-content>