<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-user-details *ngIf="myProfile" [myProfile]="myProfile"></app-user-details>

  <ion-row>
    <ion-col>
      <ion-card style = "max-width: 50%; margin: auto;" (click)="logout()">
        <h2 class="flex-center">Logout</h2>
        <ion-img src="../../../../assets/img/cerrar.png"></ion-img>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
