/*********************************
Global
**********************************/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*********************************
My groups
**********************************/

.even {
  color: dark;
}

.odd {
  color: primary;
}

.ion {
	color: #33d333;
}

ion-item {
	background-color: #6084bb;
}

/*********************************
Navigation
**********************************/

ion-tab-bar{

  height: 12vh;

}

.img-nav-bar{

  width: 90%;
  height: 90%;
}


.btn-grupos{
  background-color: #adffad;
}

.btn-tareas{
  background-color:#ebed89;
}


.btn-perfil{
  background-color: #d9c7e0;
}

/*********************************
Login
**********************************/

.animal-card {
  max-width: 35%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.animal-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
}

.selected-animals-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: center;
}

.selected-animal-card {
  margin: 0;
  max-width: 15%;
}


/*********************************
Componente del chat
**********************************/

.chat-area-container{
  position: absolute; 
  bottom: 14%; 
  width: 100%; 
  height: 12vh;
}

.chat-main-container{
  position: relative; 
  height: 100%;

}

.chat-text-area{
  background-color:#e5e3e3;
  padding: 10px 10px;

}

.img-send-text-message{

  width: 80%;
  height: 80%;
  margin: 0 auto;

}
