// GLOBAL




// my-groups
.even {
  color: dark;
}

.odd {
  color: primary;
}

.ion {
	color: #33d333;
}

ion-item {
	background-color: #6084bb;
}


/*********************************
Barra de navegación
**********************************/
ion-tab-bar{

  height: 15vh;

}

.img-nav-bar{

  width: 90%;
  height: 90%;
}


.btn-grupos{
  background-color: #adffad;
}

.btn-tareas{
  background-color:#ebed89;
}


.btn-perfil{
  background-color: #d9c7e0;
}

