<ion-card class="group-card" (click)="navigateToUserProgress()">
  <ion-row>
    <ion-col class="chat-col" size="3">
      <ion-img src="/assets/img/trofeo.png" class="group-img"></ion-img>
    </ion-col>
    <ion-col aria-label="Mis resultados" class="chat-col" size="6">
      <h3 class="ion-text-left">Resultados</h3>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card aria-label="Desconectarse" class="group-card" (click)="logout()">
  <ion-row>
    <ion-col class="chat-col" size="3">
      <ion-img class="group-img" src="assets/img/cerrar.png"></ion-img>
    </ion-col>
    <ion-col>
      <h3 class="ion-text-left">Cerrar sesión</h3> 
    </ion-col>
  </ion-row>
</ion-card>

