<ion-content>

  <app-page-layout>

    <div layout-position="main">
      <ion-row class="title-row">
        <ion-col>
          <ion-title>
            Mis Tareas
          </ion-title>
        </ion-col>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-card *ngFor="let task of myTasks;">
        <div (click)="navigateToTask(task.id)">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>{{task.title}}</ion-label>
          </ion-item>

          <ion-card-content>
            {{task.description_short}}
          </ion-card-content>
        </div>
      </ion-card>
    </div>

  </app-page-layout>
</ion-content>