<ion-content *ngIf="filteredTasks">

  
  <app-page-layout>
 
    <div layout-position="main">
      <ion-row class="title-row">
        <ion-col>
          <ion-title>
            Mis Tareas
          </ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-search-bar [placeHolder]="'Buscar Tarea'" (searchEmitter)="filterTask($event)" ></app-search-bar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" *ngFor="let category of categories" (click)="toggleSelected(category)"  [ngClass]="selected(category) ? 'selected-category' : 'unselected-category'">
          <ion-img src="/assets/img/{{category}}.png"></ion-img>
        </ion-col>
      </ion-row>
    </div>

    <div layout-position="content">
      <ion-row *ngIf="filteredTasks.length === 0">
        <ion-col>
          <h2>¡¡No hay tareas con esa selección!!</h2>
        </ion-col>
      </ion-row>
      <div class="my-groups">
        <ion-card class="task-card" *ngFor="let task of filteredTasks" (click)="navigateToTask(task.id_tarea)">
          <ion-row>
            <ion-col class="chat-col" size="3">
              <ion-img src="../../../../assets/img/charla-grupo.png" class="group-img"></ion-img>
            </ion-col>
            <ion-col class="chat-col" size="8">
              <h3 class="inside-group-card">{{task.title }}</h3>
            </ion-col>
          </ion-row>
          <ion-card-subtitle>
            <p class="task-description-short">{{task.shortDescription}}</p>
          </ion-card-subtitle>
        </ion-card>
      </div>
    </div>

    <!-- <div layout-position="content">
      <ion-row *ngIf="filteredTasks.length === 0">
        <ion-col>
          <h2>¡¡No hay tareas con esa selección!!</h2>
        </ion-col>
      </ion-row>
      <ion-card *ngFor="let task of filteredTasks;">
        <div (click)="navigateToTask(task.id)">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>{{task.title}}</ion-label>
          </ion-item>

          <ion-card-content>
            {{task.description_short}}
          </ion-card-content>
        </div>
      </ion-card>
    </div> -->

  </app-page-layout>
</ion-content>