    <div class="chat-main-container">
        <div>
            <ion-item *ngFor="let message of messages; let i = index;">
                <!-- <ion-avatar slot="start">
                    <ion-icon name="fotoPedirALaAPI" size="large"></ion-icon>
                </ion-avatar> -->
                <ion-label>
                    <h1>{{ message.sender}}</h1>
                    <h2>{{ message.text}}</h2>
                    <h4>{{ message.timestamp }}</h4>
                </ion-label>
            </ion-item>
        </div>
        
    </div>

    <ion-row class="chat-area-container">
        <ion-col size="9">
            <ion-item>
                <ion-textarea class="chat-text-area" placeholder="Escribe tu mensaje..."></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-col size = "3">
            <ion-img class="img-send-text-message ion-text-center" src="../assets/img/enviar-mail.png"></ion-img>
        </ion-col>
    </ion-row> 

    

   




